<header ng-controller="userController" ng-init="loadUserData()">
    <div class="innerLimiter">
        <a href="#/" id="logo"></a>
        <p class="loading white" ng-show="isLogged === undefined">Loading...</p>
        <nav ng-show="isLogged">
            <ul>
                <li><a href="#/">&#xe021;</a></li>
                <li ng-click="showFriends = true" click-anywhere-but-here="showFriends = false">
                    <a>
                        &#xe008;
                        <span ng-show="(user.friendRequests|filter:{processed: 'undefined'}).length" class="friendRequestsCount">{{(user.friendRequests|filter:{processed: 'undefined'}).length}}</span>
                    </a>
                    <div ng-show="showFriends" class="dropDownContainer">
                        <div class="upArrow friendRequestsArrow"></div>
                        <div class="dropDownContent friendRequestsContent">
                            <div class="dropDownRow" ng-hide="request.processed" ng-repeat="request in user.friendRequests">
                                <a href="#/user/{{request.user.username}}">
                                    <img ng-src="{{request.user.profileImageData || defaultUserAvatar}}" alt="{{request.user.name}}'s photo"/>
                                </a>
                                <div>
                                    <a href="#/user/{{request.user.username}}" class="name">
                                        {{request.user.name}}
                                    </a>
                                    <span ng-click="acceptFriendRequest(request.id);" class="button">Accept</span>
                                    <span ng-click="rejectFriendRequest(request.id);" class="button">Reject</span>
                                </div>
                            </div>
                            <p class="totalResultsCount">
                                <span>{{(user.friendRequests|filter:{processed: 'undefined'}).length || 0}}</span> results total
                            </p>
                        </div>
                    </div>
                </li>
                <li><a href="#/profile">&#xe019;</a></li>
                <li ng-click="shownSearchMenu = true" click-anywhere-but-here="shownSearchMenu = false" >
                    <a>&#xe003;</a>
                    <div ng-show="shownSearchMenu" ng-controller="mainController" class="dropDownContainer">
                        <div class="upArrow searchMenuArrow"></div>
                        <div class="dropDownContent searchMenuContent">
                            <input type="text" ng-model="search" ng-keyup="searchUserByName();" placeholder="Search friends"/>
                            <div class="dropDownRow" ng-repeat="user in foundUsers">
                                <a href="#/user/{{user.username}}">
                                    <img ng-src="{{user.profileImageData || defaultUserAvatar}}" alt="{{user.name}}'s photo"/>
                                </a>
                                <div>
                                    <a href="#/user/{{user.username}}" class="name">
                                        {{user.name}}
                                    </a>
                                </div>
                            </div>
                            <p class="totalResultsCount"><span>{{foundUsers.length || 0}}</span> results total</p>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
        <div id="profileInfo"  ng-show="isLogged">
            <div>
                <p class="online">ONLINE</p>
                <p class="name">{{user.name}}</p>
            </div>
            <img ng-src="{{user.profileImageData || defaultUserAvatar}}" alt=""/>
        </div>
    </div>
</header>