<header>
    <div class="innerLimiter">
        <a href="#/" id="logo"></a>
        <nav ng-show="isLogged">
            <ul>
                <li><a href="#/">&#xe021;</a></li>
                <li ng-mouseleave="hideFriendRequests();" ng-mouseenter="showFriendRequests();">
                    <a>
                        &#xe008;
                        <span ng-show="user.friendRequests.length" class="friendRequestsCount">{{user.friendRequests.length}}</span>
                    </a>
                    <div ng-show="showFriends && user.friendRequests.length" class="dropDownContainer">
                        <div class="upArrow friendRequestsArrow"></div>
                        <div class="dropDownContent friendRequestsContent">
                            <div class="dropDownRow" ng-repeat="request in user.friendRequests">
                                <a href="#/user/{{request.user.username}}">
                                    <img ng-src="{{request.user.profileImageData || defaultUserAvatar}}" alt="{{request.user.name}}'s photo"/>
                                </a>
                                <div>
                                    <a href="#/user/{{request.user.username}}" class="name">
                                        {{request.user.name}}
                                    </a>
                                    <span class="button">Accept</span>
                                    <span class="button">Reject</span>
                                </div>
                            </div>
                            <p class="totalResultsCount"><span>{{user.friendRequests.length || 0}}</span> results total</p>
                        </div>
                    </div>
                </li>
                <li><a href="#/">&#xe019;</a></li>
                <li ng-mouseenter="showSearchMenu();" ng-mouseleave="hideSearchMenu();">
                    <a href="#/">&#xe003;</a>
                    <div ng-show="shownSearchMenu" ng-controller="mainController" class="dropDownContainer">
                        <div class="upArrow searchMenuArrow"></div>
                        <div class="dropDownContent searchMenuContent">
                            <input type="text" ng-model="search" ng-keyup="searchUserByName();" placeholder="Search friends"/>
                            <div class="dropDownRow" ng-repeat="user in foundUsers">
                                <a href="#/user/{{user.username}}">
                                    <img ng-src="{{user.profileImageData || defaultUserAvatar}}" alt="{{user.name}}'s photo"/>
                                </a>
                                <div>
                                    <a href="#/user/{{user.username}}" class="name">
                                        {{user.name}}
                                    </a>
                                </div>
                            </div>
                            <p class="totalResultsCount"><span>{{foundUsers.length || 0}}</span> results total</p>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
        <div id="profileInfo"  ng-show="isLogged">
            <div>
                <p class="online">ONLINE</p>
                <p class="name">{{user.name}}</p>
            </div>
            <img ng-src="{{user.profileImageData || defaultUserAvatar}}" alt=""/>
        </div>
    </div>
</header>