<div ng-include="'partial/header.html'"></div>
<div class="container">
    <div ng-if="isLogged === true">
        <div ng-include="'partial/wall.html'"></div>
    </div>
    <div class="innerLimiter">
        <div class="loading "ng-if="isLogged === undefined">Loading...</div>
        <div ng-if="isLogged === false">
            <a class="changeButton homeButton" href="#/Login">Login</a> | <a class="changeButton homeButton" href="#/Register">Register</a>
        </div>
    </div>
</div>
<div ng-include="'partial/footer.html'"></div>