<div class="header">
    <a href="#/user/{{post.author.username}}">
        <img ng-src="{{post.author.profileImageData || defaultUserAvatar}}" alt="{{post.author.name}}'s avatar"/>
    </a>
    <div class="authorAndDate">
        <a href="#/user/{{post.author.username}}" class="name">{{post.author.name}}</a>
        <div class="date">{{post.date | date:'dd MMMM yyyy HH:mm:ss'}}</div>
    </div>
    <div>
        <span ng-click="post.editing = !post.editing" ng-show="post.author.username == user.username"
              class="editButton">Edit</span>
        <span ng-click="deletePost(post);" ng-show="post.author.username == user.username || post.wallOwner.username == user.username"
              class="deleteButton">Delete</span>
    </div>
</div>
<div class="postContent">
    <span>{{post.postContent}}</span>
    <div class="likesComments">
        <div liked="{{post.liked}}" ng-click="likePost(post);" class="likesCount"></div>{{post.likesCount || 0}}
        <div ng-click="post.showComments = !post.showComments" class="commentsCount">{{post.totalCommentsCount || 0}}</div>
    </div>
    <form novalidate ng-submit="editPost(editPostForm, post);" ng-show="post.editing" name="editPostForm">
        <textarea required ng-minlength="2" ng-model="post.postContent"></textarea><br/>
        <input type="submit" ng-disabled="editPostForm.$invalid" value="Edit" />
    </form>
</div>
<div class="comments" ng-show="post.showComments">
    <div class="comment" ng-hide="comment.deleted" ng-repeat="comment in post.comments | orderBy: 'id'">
        <div class="header">
            <a href="#/user/{{comment.author.username}}">
                <img ng-src="{{comment.author.profileImageData || defaultUserAvatar }}" alt="{{comment.author.name}}'s photo"/>
            </a>
            <div class="authorAndDate">
                <a href="#/user/{{comment.author.username}}" class="name">{{comment.author.name}}</a>
                <div class="date">{{comment.date | date:'dd MMMM yyyy HH:mm:ss'}}</div>
            </div>
            <div>
                <span ng-click="comment.editing = !comment.editing" ng-show="comment.author.username == user.username"
                      class="editButton">Edit</span>
                <span ng-click="deleteComment(post, comment);" ng-show="comment.author.username == user.username || post.author.username == user.username"
                      class="deleteButton">Delete</span>
            </div>
        </div>
        <div class="commentContent">
            <span>{{comment.commentContent}}</span>
            <div class="likesComments">
                <div ng-click="likeComment(post, comment)" liked="comment.liked" class="likesCount"></div>{{comment.likesCount}}
            </div>
            <form ng-show="comment.editing" name="editCommentForm" novalidate ng-submit="editComment(post.id, comment);">
                <div>
                    <textarea ng-model="comment.commentContent" ng-minlength="2" required class="textareaComment" ></textarea>
                </div>
                <input type="submit" ng-disabled="editCommentForm.$invalid" value="edit"/>
            </form>
        </div>
    </div>
    <span class="showAll" ng-hide="post.allCommentsShowed" ng-click="loadAllComments(post);">Show all</span>
    <form name="form" novalidate ng-submit="submitComment(post);">
        <div>
            <textarea ng-model="post.unsubmitCommentContent" ng-minlength="2" name="commentContent" required class="textareaComment" ></textarea>
        </div>
        <input type="submit" ng-disabled="form.$invalid" value="comment"/>
    </form>
</div>