<div ng-include="'partial/header.html'"></div>
<div class="container">
    <div class="innerLimiter userPreview">
        <div class="cover">
            <img ng-src="{{currentProfileData.coverImageData || defaultUserCover}}"/>
        </div>
        <div class="userInfo">
            <img class="avatar" src="{{currentProfileData.profileImageData || defaultUserAvatar}}" alt="{{currentProfileData.name}}'s avatar"/>
            <div>
                <div class="name">{{currentProfileData.name}}</div>
                <div ng-click="sendRequest()" ng-hide="currentProfileData.hasPendingRequest == true || currentProfileData.isFriend == true"
                     class="friendRequestButton">Send friend request</div>
            </div>
        </div>
        <div class="userMain">
            <div class="posts">
                <form ng-if="currentProfileData.isFriend" novalidate name="form" ng-submit="writePost('{{user}}')">
                    <textarea name="post" required name="postContent" ng-model="post.postContent" placeholder="Write a post"></textarea>
                    <div>
                        <input type="submit" ng-disabled="form.$invalid" value="post"/>
                    </div>
                </form>
                <div class="post" ng-repeat="post in currentProfileData.posts">
                    <div class="header">
                        <img ng-src="{{post.author.profileImageData || defaultUserAvatar}}" alt="{{post.author.name}}'s avatar"/>
                        <div class="authorAndDate">
                            <div class="name">{{post.author.name}}</div>
                            <div class="date">{{post.date | date:'dd MMMM yyyy HH:mm:ss'}}</div>
                        </div>
                        <div class="likesComments">
                            <div ng-click="likePost(post);" class="likesCount">{{post.likesCount || 0}}</div>
                            <div class="commentsCount">{{post.totalCommentsCount || 0}}</div>
                        </div>
                    </div>
                    <div class="postContent">
                        {{post.postContent}}
                    </div>
                </div>
            </div>
            <div id="friends" ng-show="currentProfileData.friends.length">
                <div class="clear">
                    <h3>Friends</h3>
                    <a href="#/" class="friendsCount">{{currentProfileData.friends.length}} <div>Total</div></a>
                </div>
                <a ng-repeat="friend in currentProfileData.friends" href="#/user/{{friend.username}}">
                    <img ng-src="{{friend.profileImageData || defaultUserAvatar}}" alt=""/></a>
                </a>
            </div>
        </div>
    </div>
</div>
<div ng-include="'partial/footer.html'"></div>