<div class="top">
    <div class="innerLimiter">
        <h1>News Feed</h1>
        <p>bam bam</p>
    </div>
</div>
<div class="innerLimiter clear wall">
    <div id="posts">
        <div class="post" ng-repeat="post in wallData">
            <div class="header">
                <img ng-src="{{post.author.profileImageData || defaultUserAvatar}}" alt="{{post.author.name}}'s avatar"/>
                <div class="authorAndDate">
                    <div class="name">{{post.author.name}}</div>
                    <div class="date">{{post.date | date:'dd MMMM yyyy HH:mm:ss'}}</div>
                </div>
                <div class="likesComments">
                    <div ng-click="likePost(post);" class="likesCount">{{post.likesCount || 0}}</div>
                    <div class="commentsCount">{{post.totalCommentsCount || 0}}</div>
                </div>
            </div>
            <div class="postContent">
                {{post.postContent}}
            </div>
            <div class="comments">
                <div class="comment" ng-repeat="comment in post.comments | orderBy: 'id'">
                    <div class="header">
                        <img ng-src="{{comment.author.profileImageData || defaultUserAvatar }}" alt="{{comment.author.name}}'s photo"/>
                        <div class="authorAndDate">
                            <div class="name">{{comment.author.name}}</div>
                            <div class="date">{{comment.date | date:'dd MMMM yyyy HH:mm:ss'}}</div>
                        </div>
                        <div class="likesComments">
                            <div ng-click="likeComment(post.id, comment)" class="likesCount">{{comment.likesCount}}</div>
                        </div>
                    </div>
                    <div class="commentContent">
                        {{comment.commentContent}}
                    </div>
                </div>
                <form name="form" novalidate ng-submit="submitComment(post);">
                    <div>
                        <textarea ng-model="post.unsubmitCommentContent" name="commentContent" required class="textareaComment" ></textarea>
                    </div>
                    <input type="submit" ng-disabled="form.$invalid" value="comment"/>
                </form>
            </div>
        </div>
    </div>
    <div id="friends">
        <div class="clear">
            <h3>Friends</h3>
            <a href="#/" class="friendsCount">{{friends.totalCount}} <div>Total</div></a>
        </div>
        <a ng-repeat="friend in friends.friends" href="#/user/{{friend.username}}">
            <img ng-src="{{friend.profileImageData || defaultUserAvatar}}" alt=""/></a>
        </a>
    </div>
</div>