@font-face {
    font-family: 'GlyphIcons';
    src: url('fonts/glyphicons-halflings-regular.eot'); /* IE9 Compat Modes */
    src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/glyphicons-halflings-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/glyphicons-halflings-regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/glyphicons-halflings-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('fonts/glyphicons-halflings-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
*{
    margin:0;
    padding:0;
}
body{
    margin: 0;
    padding: 0;
    background: #020202;
}
header{
    background: #3f3f3f;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
header nav > ul{
    margin-left: 20px;
    display: inline-block;
}
header nav > ul a{
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    font-family: GlyphIcons;
    text-decoration: none;
    color: #fff;
    opacity: 0.2;
}
header nav > ul a:hover{
    opacity: 1;
    background: #2f2f2f;
}
header nav > ul li{
    list-style: none;
    display: inline-block;
}
header nav > ul li a{
    display: inline-block;
    padding:16px 20px;
    font-size: 18pt;
}
.innerLimiter{
    margin:0 auto;
    width: 100%;
    max-width: 1000px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
header > .innerLimiter{
    display: flex;
    flex-direction: row;
}
header nav{
    flex-grow: 1;
    text-align: center;
}

.outerLimiter{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
input{
    padding: 10px;
    margin: 10px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}
input[type=text], input[type=password]{
    background: #e8e8e8;
    border: 0;
    border-bottom: 2px solid #dedede;
    color: #999999;
    padding: 15px;
    width: 100%;
    max-width: 300px;
}
input[type=submit]:disabled{
    color: #aaa;
    cursor: default;
}
input[type=submit]:disabled:hover{
    cursor: default;
    background: transparent;
    color: #aaa;
}
input[type=submit]{
    transition: all ease 0.3s;
    color: #383838;
    border: 2px solid #44acfe;
    font-weight: bold;
    text-transform: uppercase;
    background: transparent;
    cursor: pointer;
}
input[type=submit]:hover{
    background: #44acfe;
    color: #fff;
}
.formError{
    background: #ff0419;
    padding: 10px;
    width: 100%;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
}
#logo{
    display: block;
    background: url('../imgs/logo.png') no-repeat;
    width: 140px;
    height: 60px;
    min-width: 138px;
}
.container{
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container .top{
    background: #44acfe;
    color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 0;
}
h1{
    font-weight: normal;
    font-family: Calibri Light, sans-serif;
    font-size: 18pt;
}
p{
    font-size: 8pt;
    font-family: Verdana;
}
label, input[type=radio]{
    cursor: pointer;
}
.loading{
    text-align: center;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#posts .post img{
    max-width: 40px;
}