@font-face {
    font-family: 'GlyphIcons';
    src: url('fonts/glyphicons-halflings-regular.eot'); /* IE9 Compat Modes */
    src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/glyphicons-halflings-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/glyphicons-halflings-regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/glyphicons-halflings-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('fonts/glyphicons-halflings-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
*{
    margin:0;
    padding:0;
}
body{
    margin: 0;
    padding: 0;
    background: #020202;
}
header{
    background: #3f3f3f;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
header nav > ul{
    margin-left: 20px;
    display: inline-block;
}
header nav > ul li > a{
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    font-family: GlyphIcons;
    text-decoration: none;
    color: #646464;
}
header nav > ul li:hover a{
    color: #fff;
    background: #2f2f2f;
}
header nav > ul li{
    list-style: none;
    display: inline-block;
    position: relative;
}
header nav > ul li a{
    display: inline-block;
    padding:16px 20px;
    font-size: 18pt;
    cursor: pointer;
}
header nav > ul li .friendRequestsCount{
    background: #e86464;
    position: absolute;
    right: 12px;
    bottom: 10px;
    padding: 0 5px;
    border-radius: 50%;
    font-size: 8pt;
}
.dropDownContainer{
    position: absolute;
    z-index: 99;
    left: 0;
}
.dropDownContainer img{
    width: 40px;
    height: 40px;
    border: 2px solid #4c4c4c;
}
.dropDownContainer .dropDownRow{
    display: flex;
    flex-direction: row;
    padding: 15px;
}
.dropDownContainer .dropDownRow:hover{
    border-top: 2px solid #393939;
    border-bottom: 2px solid #393939;
    padding: 13px 15px;
    background: #363636;
 }
.dropDownContainer .dropDownRow:hover .name{
    color: #d3d3d3;
}
.dropDownContainer .dropDownRow > div{
    margin-left: 20px;
    display: block;
}
.dropDownContainer .dropDownRow > div .name {
    color: #858585;
    margin-bottom: 5px;
    font-weight: bold;
    display: block;
    background: none;
    font-size: 12pt;
}
.dropDownContainer .dropDownRow div .button{
    padding: 3px 10px;
    color: #bababa;
    border: 2px solid #393939;
    font-size: 9pt;
    cursor: pointer;
}
.dropDownContainer .dropDownRow > div .button:hover{
    color: #fff;
    border-color: #5d5d5d;
}
header nav > ul li .dropDownContent{
    background: #313131;
    color: #f5f5f5;
    width: 350px;
    text-align: left;
}
.upArrow{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 10px 5px;
    border-color: transparent transparent #313131 transparent;
    margin-left: 20px;
}
.innerLimiter{
    margin:0 auto;
    width: 100%;
    max-width: 1000px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
header > .innerLimiter{
    display: flex;
    flex-direction: row;
}
header nav{
    flex-grow: 1;
    text-align: center;
}

.outerLimiter{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
input, textarea{
    padding: 10px;
    margin: 10px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}
input[type=text], input[type=password], textarea{
    background: #e8e8e8;
    border: 0;
    border-bottom: 2px solid #dedede;
    color: #999999;
    padding: 15px;
    width: 100%;
    max-width: 300px;
}
input[type=submit]:disabled{
    color: #aaa;
    cursor: default;
}
input[type=submit]:disabled:hover{
    cursor: default;
    background: transparent;
    color: #aaa;
}
input[type=submit]{
    transition: all ease 0.3s;
    color: #383838;
    border: 2px solid #44acfe;
    font-weight: bold;
    text-transform: uppercase;
    background: transparent;
    cursor: pointer;
}
input[type=submit]:hover{
    background: #44acfe;
    color: #fff;
}
textarea{
    resize: none;
    max-width: 600px;
    height: 100px;
}
.formError{
    background: #ff0419;
    padding: 10px;
    width: 100%;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
}
#logo{
    display: block;
    background: url('../imgs/logo.png') no-repeat;
    width: 140px;
    height: 60px;
    min-width: 138px;
}
.container{
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container .top{
    background: #44acfe;
    color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 0;
}
h1{
    font-weight: normal;
    font-family: Calibri Light, sans-serif;
    font-size: 18pt;
}
p{
    font-size: 8pt;
    font-family: Verdana;
}
label, input[type=radio]{
    cursor: pointer;
}
.loading{
    text-align: center;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.white{
    color: #fff;
}
#posts{
    margin-top: 20px;
    flex-grow: 1;
}
.clear:after{
    content: '';
    display: block;
    clear: both;
    zoom: 1;
}
#friends{
    background: #3d6e98;
    width: 300px;
    padding: 5px;
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0,0, 0.5);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0,0, 0.5);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    min-width: 300px;
}
#friends img {
    width: 97px;
    height: 97px;
    border:0;
}
#friends h3{
    padding: 20px 0px 0px 20px;
    font-family: Tahoma;
    opacity: 0.8;
    color: #fff;
    float: left;
    font-weight: normal;
}
#friends a{
    text-decoration: none;
}
#friends .friendsCount{
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    color: #fff;
    opacity: 0.5;
    float: right;
    font-size: 20pt;
    padding: 10px;
    text-decoration: none;
}
#friends .friendsCount:hover{
    opacity: 0.9;
}
#friends .friendsCount > div{
    font-size: 10pt;
    text-align: right;
}
#profileInfo{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    cursor: pointer;
    text-decoration: none;
}
#profileInfo > div{
    padding: 5px 5px 0 0;
}
#profileInfo .online{
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    opacity: 0.2;
}
#profileInfo .name{
    color: #fff;
    font-size: 10pt;
    opacity: 0.7;
}
#profileInfo img{
    width: 40px;
    height: 40px;
    border-radius: 2px;
    border: 1px solid rgba(255,255,255, 0.2);
}
.friendRequestsContent{
    margin-left: -70px;
}
.searchMenuContent{
    margin-left: -280px;
}
.searchMenuContent input{
    max-width: 330px;
    margin-left: 10px;
    background: #282828;
    border-bottom: 0;
    color: #f9b358;
}
.totalResultsCount{
    color: #555454;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px;
}
.totalResultsCount > span{
    color: #7f7d7d;
}
.searchMenuContent .name{
    margin-top: 12px;
}
.dropDownContainer a{
    padding: 0;
    margin: 0;
}
.wall{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.wall #friends{
    margin-top: 20px;
}
.cover{
    text-align: center;
    background: #f5f5f5;
}
.cover > img{
    max-width: 100%;
    height: 170px;
}
.userPreview .avatar{
    border: 5px solid #fff;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    -webkit-box-shadow: 2px 2px 0 rgba(0,0,0, 0.1);
    -moz-box-shadow: 2px 2px 0 rgba(0,0,0, 0.1);
    box-shadow: 2px 2px 0 rgba(0,0,0, 0.1);
}
.userPreview .friendRequestButton{
    padding: 10px 20px 10px 45px;
    border: 2px solid #d4d4d4;
    color: #6e6e6e;
    font-family: Arial;
    font-weight: bold;
    background: url('../imgs/userIcon.png') no-repeat;
    background-position: 5px 5px;
    text-transform: uppercase;
    font-size: 10pt;
    cursor: pointer;
    margin: 10px 0 5px 0;
}
.userPreview .name{
    color: #f5f5f5;
    font-size: 25px;
    font-family: Arial;
    text-shadow: 1px 1px 0 #000;
}
.userPreview .userInfo{
    margin: -60px 0 0 20px;
    display: flex;
    flex-direction: row;
}
.userPreview .userInfo > div{
    margin-left: 10px;
    align-self: flex-end;
}
.userMain{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.userMain #friends{
    margin-top: 10px;
}
.userMain .posts{
    flex-grow: 1;
    margin-top: 20px;
    word-break: break-all;
}
.post{
    margin: 0 10px 20px 0;
    background: #fafafa;
    padding: 10px;
    border: 1px solid #f5f5f5;
}
.post img{
    border-bottom: 2px solid #a2d6ff;
    height: 50px;
    width: 50px;
}
.post .header{
    display: flex;
    flex-direction: row;
}
.post .header .authorAndDate{
    margin-left: 10px;
    align-self: flex-start;
    padding-top: 5px;
    flex-grow: 1;
}
.post .header .authorAndDate .name{
    color: #4595d5;
    font-weight: bold;
    font-family: Arial;
    font-size: 12pt;
    text-shadow:none;
}
.post .header .authorAndDate .date{
    color: #bababa;
    font-family: Arial;
    font-size: 8pt;
}
.post .postContent{
    color: #b1b1b1;
    font-family: Georgia;
    font-size:12pt;
    margin-top: 10px;
}
.post .likesComments{
    margin: 5px 0 0 0;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    color: #666;
}
.post .likesComments .likesCount{
    transition: all ease 0.5s;
    background: url('../imgs/like.png') no-repeat;
    background-position: 2px 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.post .likesComments .likesCount:hover, .post .likesComments .commentsCount:hover{
    background-color: #f5f5f5;
    border-radius: 3px;
 }
.post .likesComments .commentsCount{
    background: url('../imgs/comment.png') no-repeat;
    background-position: 2px 5px;
    padding: 3px 5px 3px 20px;
    margin-right: 5px;
    cursor: pointer;
}
.comments{
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
    margin: 10px 0;
    padding: 10px;
    word-break: break-all;
}
.comments > .comment .header  img{
    width: 20px;
    height: 20px;
}
.comments > .comment .header .authorAndDate{
    padding:0;
}
.comments > .comment .header .authorAndDate .name{
    font-size: 8pt;
}
.comments > .comment .header .authorAndDate .date{
    font-size: 7pt;
}
.comments .commentContent{
    color: #b1b1b1;
    font-family: Georgia;
    font-size: 10pt;
    padding: 5px 0;
}
.name{
    text-decoration: none;
}
.comments input[type=submit]{
    font-size: 8pt;
    padding: 5px;
    margin: 0;
}
textarea.textareaComment{
    height: 50px;
}
.userInfo .status{
    text-align: center;
    padding: 10px 20px 10px 20px;
    border: 2px solid #d4d4d4;
    color: #6e6e6e;
    font-family: Arial;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10pt;
    margin: 10px 0 5px 0;
}
.userInfo .changeAvatarButton{
    padding: 10px 20px 10px 20px;
    border: 2px solid #d4d4d4;
    color: #6e6e6e;
    font-family: Arial;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10pt;
    margin: 10px 0 5px 0;
}
.name input{
    background: rgba(0,0,0,0.5);
    font-size: 20pt;
    border: 2px dashed #ccc;
    padding: 5px 10px;
    margin-top: 0;
    color: #fff;
    text-shadow: 1px 1px 0 #000;
    width: 200px;
}
.editButton, .deleteButton{
    padding: 5px;
    border: 2px solid #d4d4d4;
    cursor: pointer;
    color: #666;
    text-transform: uppercase;
    position: relative;
    top: 3px;
}
.editButton:hover, .deleteButton:hover{
    background: #f5f5f5;
}
.userEdit{
    position: relative;;
}
.userEdit .avatar{
    width:100px;
    height: 100px;
    position: absolute;
    top: 40px;
    left: 30px;
    border-radius: 5px;
    border: 5px solid #fff;
}
.changesButtons{
    margin-top: 10px;
    padding: 10px 0;
}
.changeButton{
    background: #3fbffc;
    padding: 10px 20px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    border-bottom: 1px solid #3bb1e8;
}
.right{
    float: right;
}
.userEdit form input{
    margin-right: 10px;
}
.hidden{
    width: 0;
    height:0;
    border:0;
    padding:0;
    margin:0;
    display: none;
}
.friendsPage > div{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.friendsPage > div .friend{
    margin: 10px;
    min-width: 100px;
    width: 100px;
    padding: 5px;
    -ms-word-break: break-all;
    word-break: break-all;
    background: #f5f5f5;
    color: #b0b0b0;
    text-decoration: none;
    font-size: 10pt;
    text-align: center;
    border: 1px solid #dedede;
    border-radius: 3px;
}
.friendsPage > div .friend:hover{
    background: #eeeeee;
}
.likesCount[liked=true]{
    -webkit-transform: rotate(180deg)
}
.big{
    font-size: 14pt;
}
.showAll{
    cursor: pointer;
}
#posts .header{
    position: relative;
}
.userHover > .dropDownContent{
    background: #313131;
    color: #999;
}
.userHover{
    top: 52px;
}